{% extends('filemakerBundle:menus:navbar.html.twig') %}
{% block navbar %}
{{ parent() }}
<div>NAVBAR fm bundle
	<a href="{{ url('ensemble01site_homepage') }}">Accueil</a>
</div>
{% endblock navbar %}