{% extends('ensemble01siteBundle::pageBaseSite.html.twig') %}
{% block mainmenu %}
<div style="height:48px;display:block;clear:both;"></div>
{% endblock mainmenu %}

{% block body %}
{{ include('TwigBundle:Exception:message404.html.twig') }}
{% endblock body %}