{% extends(':public:public-pageRoot.html.twig') %}

{% block title %}
{% if numlot is not null %}Liste des rapports du lot {{ numlot }}{% else %}Liste complète des rapports{% endif %}
{% endblock title %}

{% block body %}

<h1>{% if numlot is not null %}Liste des rapports du lot {{ numlot }}{% else %}Liste complète des rapports{% endif %}</h1>

{% if rapports is iterable %}
{% for rapport in rapports %}
<h4>Rapport {{ rapport.getField("id")|raw }}</h4>
{% endfor %}
{% else %}
<h4>Aucun rapport</h4>
<p>{{ rapports }}</p>
{% endif %}

{% endblock body  %}