{% extends "ensemble01siteBundle::pageBaseSite.html.twig" %}

{% block body %}
{% if form is defined %}{% form_theme form ':Form:bootstrap-override.html.twig' %}{% endif %}
<!-- Corps complet sous bandeau-TOP -->
<div id="container_site" class="container">

	<!-- page accueil-->
	<div class="container_principal_accueil col-md-8">
		<div class="ecart ecart-12"></div>
		<div class="FOSutilities">
			{% block fos_user_content %}
			{% endblock fos_user_content %}
			<div style="height:20px;width:100%;"></div>
			<!-- <a href="{{ url('ensemble01site_homepage') }}">Accueil</a> -->
		</div>
	</div>
</div>
{% endblock body %}