{% extends ('ensemble01filemakerBundle:blocs:module_BASE.html.twig') %}

{% block icon %}{{ module.icon|raw }}{% endblock icon %}
{% block title %}{{ module.title|raw }}{% endblock title %}
{% block actions_button %}{{ parent() }}{% endblock actions_button %}
{% block body %}
	<div id="line-chart-{{ random(100000) }}" class='line-chart' data-chart='{# module.datadonut|json_encode(true) #}'></div>
{% endblock body %}
