<div class="panel panel-default">
	<div class="panel-heading">
		<i class="fa {% block icon %}fa-gear{% endblock icon %} fa-fw"></i> {% block title %}Titre{% endblock title %}
		{% block actions_button %}{% endblock actions_button %}
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		{% block body %}<p>Informations…</p>{% endblock body %}
	</div>
	<!-- /.panel-body -->
</div>
<!-- /.panel -->
