<!DOCTYPE html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	{% include('ensemble01filemakerBundle:pdf:styles_001.html.twig') %}
</head>
<body>
	<div class="container">
		<div class="bloc1">
			<h1>DOSSIER AMIANTE – PARTIES PRIVATIVES</h1>
			<p>Conformément au décret n°2011-629 du 3 juin 2011 et aux articles R.1334-16,<br />R.1334-29-4 et R.1337-3 du Code de la santé publique</p>
			<p>Référence rapport : {{ ref }}</p>
		</div>

		<table class="type1">
			<tr>
				<th colspan="2">Immeuble visité</th>
			</tr>
			<tr>
				<td>Adresse</td>
				<td>Immeuble d’habitations « GAUGUIN »<br />65 rue du Roumois<br />27310 BOURG ACHARD</td>
			</tr>
			<tr>
				<td>Type de logement</td>
				<td>Appartements</td>
			</tr>
			<tr>
				<td>Année de construction</td>
				<td>1987</td>
			</tr>
			<tr>
				<td>Locaux visés par le rapport de repérage des matériaux et produits de la liste A</td>
				<td>Appartements N° 1 à 15</td>
			</tr>
		</table>

		<table class="type1">
			<tr>
				<th>Commanditaire</th>
				<th>Société de contrôle</th>
			</tr>
			<tr>
				<td>SILOGE<br />6bis Boulevard Chambaudoin<br />27009 EVREUX<br />Tél : 02 32 38 88 88</td>
				<td>GEODEM - Agence Normandie<br />137, route d’Elbeuf<br />27520 BOURGTHEROULDE<br />Tél : 02 32 82 37 20</td>
			</tr>
			<tr class="thead">
				<td>Représentant</td>
				<td>Représentant</td>
			</tr>
			<tr>
				<td class="center">Monsieur DU TRANOY<br /><i>Ingénieur Travaux</i></td>
				<td class="center">Nicolas LEGENDRE<br /><i>Directeur Opérationnel</i></td>
			</tr>
		</table>
	</div>

</body>
</html>