<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block title %}Interface Web Filemaker{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {% block metatitles %}
        {% endblock metatitles %}
        {% stylesheets filter='cssrewrite, lessphp, ?yui_css'
        '../app/Resources/jquery-ui/jquery-ui.min.css'
        '../app/Resources/css/bootstrap.min.css'
        '../app/Resources/css/base-styles.css.less'
         %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    </head>
    <body>
        {% block mainmenu %}
        {% endblock mainmenu %}
        {% block body %}
            <!-- CONTENU DE LA PAGE -->
        {% endblock body %}
        {% include ":common:hiddenstuffs.html.twig" %}
        {% javascripts filter='?yui_js'
        '../app/Resources/js/jquery-2.1.1.min.js'
        '../app/Resources/jquery-ui/jquery-ui.min.js'
        '../app/Resources/js/bootstrap.min.js'
        '../app/Resources/js/base-scripts.js'
         %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>