{% extends('ensemble01filemakerBundle::BSpageBaseFilemaker.html.twig') %}
{% block h1 %}
	<h1 class="page-header">{{ h1|raw }}</h1>
{% endblock h1 %}
{% block body %}
	<div class="well">
		<div class="mxgraph" style="position:relative;overflow:auto;width:100%;"><div style="width:1px;height:1px;overflow:hidden;">{{ code }}</div></div>
	</div>
{% endblock body %}