{% extends('ensemble01filemakerBundle::BSpageBaseFilemaker.html.twig') %}
{% block h1 %}
	<h1 class="page-header">{{ h1 }}</h1>
{% endblock h1 %}
{% block body %}
	<div class="col-lg-8">
	<!-- .col-lg-8 -->
		{% render(controller('ensemble01filemakerBundle:filemaker:moduleAdmin', {template: 'areachart'})) %}
		{% render(controller('ensemble01filemakerBundle:filemaker:moduleAdmin', {template: 'barchart'})) %}
		{% render(controller('ensemble01filemakerBundle:filemaker:moduleAdmin', {template: 'timeline'})) %}
	</div>
	<!-- /.col-lg-8 -->
	<!-- .col-lg-4 -->
	<div class="col-lg-4">
		{% render(controller('ensemble01filemakerBundle:filemaker:moduleAdmin', {template: 'notifications'})) %}
		{% render(controller('ensemble01filemakerBundle:filemaker:moduleAdmin', {template: 'donutchart'})) %}
		{% render(controller('ensemble01filemakerBundle:filemaker:moduleAdmin', {template: 'comment'})) %}
	</div>
	<!-- /.col-lg-4 -->
{% endblock body %}