{% extends('ensemble01filemakerBundle::pageBaseFilemaker.html.twig') %}
{% block body %}
{{ parent() }}
<div class="container-fluid">
	<div class="well well-lg">
		<a class="btn btn-sm btn-primary URLext" href="https://fmhelp.filemaker.com/docs/13/fr/fms13_cwp_php.pdf">Documentation</a><span> FileMaker Server 13 API</span>
		<br /><br />
		<a class="btn btn-sm btn-primary URLext" href="http://lexikon.ling.su.se/">Documentation</a><span> FileMaker API Tutorial</span>
		<hr>
		<a class="btn btn-sm btn-primary URLext" href="https://github.com/manu7772/filemakerBundle">GitHub Repository</a><span> FileMaker Bundle / Symfony2 (E.Dujardin - AEW 2014)</span>
		<br /><br />
		<a class="btn btn-sm btn-primary URLext" href="https://github.com/manu7772/baseproject">GitHub Repository</a><span> AppliWeb Géodiag / Symfony2 (E.Dujardin - AEW 2014)</span>
	</div>
</div>
{% endblock body %}