{% extends('ensemble01filemakerBundle::pageBaseFilemaker.html.twig') %}
{% block body %}
	<div class="container">
		{% if servers is iterable %}
		<h3 class="well well-xs">Liste des Serveurs<br /><small>{{ servers|length }} résultat(s)</small></h3>
		<table class="table table-bordered table-hover table-condensed">
			<tr class="active">
				<th>Nom du serveur</th>
			</tr>
			{% for server in servers %}
			<tr>
				<td>{{ server|raw }}</td>
			</tr>
			{%- endfor %}
		</table>
		{% else %}
		<h3 class="well well-xs">Liste des Serveurs<br /><small>Erreur</small></h3>
		<div class="alert alert-danger" role="alert">{{ servers|raw }}</div>
		{% endif %}
	</div>
{% endblock body %}