{% extends('ensemble01filemakerBundle::pageBaseFilemaker.html.twig') %}
{% block body %}
	<div class="container">
		{% if locauxByLieux is iterable %}
		<h3 class="well well-xs">Liste des locaux<br /><small>{{ locauxByLieux|length }} résultat(s)</small></h3>
		<table class="table table-bordered table-hover table-condensed">
			<tr class="active">
				<th>Fk_Id_Local</th>
				<th>Fk_Id_Lieu</th>
			</tr>
			{% for local in locauxByLieux %}
			<tr>
				<td>{{ local.getField("Fk_Id_Local")|raw }}</td>
				<td>{{ local.getField("Fk_Id_Lieu")|raw }}</td>
			</tr>
			{%- endfor %}
		</table>
		{% else %}
		<h3 class="well well-xs">Liste des locaux<br /><small>Erreur</small></h3>
		<div class="alert alert-danger" role="alert">{{ locauxByLieux|raw }}</div>
		{% endif %}
	</div>
{% endblock body %}