<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="1;refresh">
		<title>Interface Web Filemaker TEST REFRESH</title>
	</head>
	<body>
		<h3>Numéro : {{ random(1000,9999) }}</h3>
	</body>
</html>