{% extends('ensemble01siteBundle::pageBaseSite.html.twig') %}
{% block body %}
	<div class="container">
		{% if app.user is not null %}
		<h3>Bonjour {{ app.user.username }} !</h3>
		{% else %}
		<p>Connectez-vous pour accéder aux fonctionnalités de l'application GEODIAG.</p>
		{% endif %}
	</div>
{% endblock body %}